﻿.rightBorder{
    border-right:solid 1px;
   
}
.videoTitle{
    font-size:20px;
    font-weight:700;
}
.videoMainInformation{
    margin-left:30px;
}
.person {
    color: cornflowerblue;
    font: bold;
}
nav {
    margin-top:10px;
}
nav .logo{
    margin-left:10px;
}
.formLogReg{
    float:right;
}
.formLogReg ul{
    padding:0px;
    margin:0px;
    margin-top:-10px;

}
.formLogReg a{
   padding:0px;
   margin:0px;
}