﻿body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail{
    margin-top:10px;
}
.thumbnail img {
    width: 326px;
    height:200px;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.navbar-inverse {
    background-color:white;
}
.navbar-inverse .navbar-brand{
    color:black;
}
.container{
    margin-left:0px;
    margin-right:0px;
    max-width: 1300px;
    padding-left:10px;
}
.navbar-brand{
    padding:0px 20px 0px;
    margin-top:5px;
    margin-left:10px;
}
.form-group{
        width: 90%;
}
.mainVideo{
    height:150%;
    position:relative;
    left:0px;
    top:0px;
}
.coverImage{
    position: relative; top: 0; left: 0;
}
.playImage{
    position: absolute;
     top: 120px; 
     left: 270px;
     cursor:pointer;
}
.videoT{
    position: absolute;
     top: 270px; 
     left: 50px;
     background-color:white;
     height:25px;
     padding:5px;
}
.topViewsVideo img{
    width:230px;
    height:120px;
}

.topViewsVideo{
    margin-bottom:100px;
}
.glyphicon-thumbs-up{
    cursor:pointer;
}

.glyphicon-thumbs-down{
    cursor:pointer;
}
.sidePicture{
    width:170px;
    height:90px;
}
.sideVideo{
    margin-bottom:10px;
}
.profilePicture{
    width:70px;
    height:70px;
}
.userVideo{
    border:solid 1px;
    margin-top:10px;
    padding:5px;
}
.createPlaylistForm{
    margin-top:10px;
}
.searchVideos{
    border-right:solid 1px;
}
button{
    margin-top:10px;
    max-width:300px;
}