﻿
<div class="container">
<form class="form-horizontal" name="video">
    <fieldset>

        <!-- Form Name -->
        <legend>Upload your Video</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="title"> Title</label>
            <div class="col-md-4">
                <input id="title" name="title" type="text" placeholder="Enter video title" class="form-control input-md" ng-model="video.title" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="description"> Video description</label>
            <div class="col-md-4">
                <textarea id="description" name="description" type="text" placeholder="Enter video description" class="form-control input-md" ng-model="video.description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="thumbnail">Video thumbnail picture:</label>
            <div class="col-md-4">
                <input id="thumbnail" name="thumbnail" accept="image/*" type="file" class="form-control input-md" ng-model="video.thumbnail" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="video">Video:</label>
            <div class="col-md-4">
                <input id="video" name="video" accept="video/*" type="file" class="form-control input-md" ng-files="getTheFiles($files)" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="video">Tags:</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Movie
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Music
                </label>
            </div>
        </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="upload"></label>
                <div class="col-md-4">
                    <button id="upload" name="upload" class="btn btn-success">Upload</button>
                </div>
            </div>

</fieldset>
</form>
</div>

