﻿    <div class="container">
        <div class="row">
            <div class="col-md-offset-2" ng-repeat="user in users">
                <a ng-href="#UserPage/{{user.userID}}">
                    <img class="profilePicture" ng-src="{{user.profileURL}}" alt="profile picture" />
                    </a>
                    <h3>{{user.username}}</h3>
</div>
            <div class="col-md-offset-2">
                <div class="row userVideo" ng-repeat="video in videos">
                    <div class="col-md-5">
                        <a ng-href="#ViewVideoPage/{{video.id}}">
                            <img class="sidePicture" src="{{video.imageURL}}" alt="" />
                        </a>
                    </div>
                    <div class="col-md-7">
                        <p>{{video.title}}</p>
                        <p>
                            <span>Created by:</span>
                            <span>{{video.username}}</span>
                        </p>
                        <p>{{video.views}} views</p>
                    </div>
                </div>
               
            </div>         
        </div>
    </div>
