﻿
    <!-- Page Content -->
    <div class="container fullView">
         <div class="row">
            <div class="col-md-2">
                <p class="lead">Search by Tags</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Movie</a>
                    <a href="#" class="list-group-item">Music</a>
                    <a href="#" class="list-group-item">Art</a>
                    <a href="#" class="list-group-item">News</a>
                    <a href="#" class="list-group-item">Family</a>
                    <a href="#" class="list-group-item">Celebrity</a>
                </div>
            </div>
            <div class="col-md-6 mainVideo">
                 <img width="600" height="300" ng-src="{{imageURLM}}" class="coverImage" alt="cover"/>
                <a ng-href="#ViewVideoPage/{{idM}}"><img src="../Images/play.png" width="50" height="50" class="playImage"  /></a>
                <p class="videoT">{{titleM}}</p>
            </div>
             <div class="col-md-4 topViews">
                 <h5>Most Views:</h5>
                 <div class="topViewsVideo">                     
                     <a ng-href="#ViewVideoPage/{{idF}}">
                         <img ng-src="{{imageURLF}}" class="col-md-10" alt="">
                         </a>
                         <h5>
                             <a href="#">{{titleF}}</a>
                         </h5>
                         <p>{{NoViewsF}} views</p>
</div> 
                 <div class="topViewsVideo">
                     <a ng-href="#ViewVideoPage/{{idS}}">
                         <img ng-src="{{imageURLS}}" class="col-md-10" alt="">
                         </a>
                         <h5>
                             <a href="#">{{titleS}}</a>
                         </h5>
                         <p>{{NoViewsS}} views</p>
</div>                     
             </div>
         </div>
        <div class="col-md-offset-2">
        <h2>Music:</h2>
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="music in musics">
                <div class="thumbnail">
                    <a ng-href="#ViewVideoPage/{{music.id}}">
                        <img src="{{music.imageURL}}" alt="">
                        </a>
                        <div class="caption">
                            <h4 class="pull-right">{{music.noViews}} views</h4>
                            <h4>
                                <a href="#">{{music.title}}</a>
                            </h4>
                            <p>{{music.description}}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">{{music.noLikes}} Likes</p>
                            <p>
                                <span>Created by:</span>
                                <a ng-href="#UserPage/{{music.userID}}"><span>{{music.username}}</span></a>
                            </p>
                        </div>
</div>
            </div>

           
           

        </div>
        <h2>Family:</h2>
        <div class="row">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="fam in families">
                    <div class="thumbnail">
                        <a ng-href="#ViewVideoPage/{{fam.id}}">
                            <img src="{{fam.imageURL}}" alt="">
                            </a>
                            <div class="caption">
                                <h4 class="pull-right">{{fam.noViews}} views</h4>
                                <h4>
                                    <a href="#">{{fam.title}}</a>
                                </h4>
                                <p>{{fam.description}}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{fam.noLikes}} Likes</p>
                                <p>
                                    <span>Created by:</span>
                                    <a ng-href="#UserPage/{{fam.userID}}"><span>{{fam.username}}</span></a>
                                </p>
                            </div>
</div>
                </div>
                </div>

                

               

              

               

             
             
            </div>
        </div>

        </div>
 
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; You Tube Ivan Uršić</p>
                </div>
            </div>
        </footer>

    </div>
