﻿<div class="container">
    <div class="row">
        <div class="col-md-8 rightBorder">
            <video width="854" height="480" src="" poster="{{video.imageURL}}" controls></video>
            <div class="videoMainInformation">
                <p class="videoTitle">{{video.title}}</p>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            <span>Created by:</span>
                            <span>{{video.usernameV}}</span>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>{{video.noViews}} views</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-10">
                        <span class="glyphicon glyphicon-thumbs-up" ng-click="likeVideo()">{{video.noLikes}}</span>
                        <span class="glyphicon glyphicon-thumbs-down" ng-click="dislikeVideo()">{{video.noDislikes}}</span>
                    </div>
                </div>

                <div class="input-group">
                    <p>Comments:</p>
                    <textarea type="text" class="form-control" cols="90" rows="5" placeholder="Enter your comment" ng-model="userComment"></textarea>
                    <button value="Comment" class="btn btn-primary pull-right" ng-click="makeComment()">Comment</button>
                </div>
                <div class="comments">
                    <div class="comment" ng-repeat="comment in video.Usercomments">
                        <p class="person">{{comment.username}}</p>
                        <p class="commentText">{{comment.commentText}}</p>
                        <div class="row">
                            <div class="col-md-offset-10">
                                <span class="glyphicon glyphicon-thumbs-up" ng-click="likeComment($index)">{{comment.likesCounter}}</span>
                                <span class="glyphicon glyphicon-thumbs-down" ng-click="dislikeComment($index)">{{comment.dislikesCounter}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row sideVideo" ng-repeat="vid in sideVideos">
                <div class="col-md-5">
                    <img class="sidePicture" src="{{vid.imageURL}}" ng-click="showVideo(vid.id)" alt="" />
                </div>
                <div class="col-md-7">
                    <p>{{vid.title}}</p>
                    <p>
                        <span>Created by:</span>
                        <span>{{vid.username}}</span>
                    </p>
                    <p>{{vid.views}} views</p>
                </div>
            </div>
        </div>
    </div>
</div>