﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="YouTubeApp">
    <nav class="navbar-fixed-top" role="navigation">
        <div class="row">
            <div class="col-md-2 logo">
                <button><span class="glyphicon glyphicon-align-justify"></span></button>
                <a href=@Url.Action("Index","Home")><img src=@Url.Content("~/Images/logo.png") alt="logoImage" /></a>
            </div>
            <div class="input-group col-md-4">
                <input type="text" class="form-control" placeholder="Search..." ng-model="searchVal"  />
                <a ng-hide="!searchVal" class="input-group-btn btn btn-danger" ng-href="#ChooseVideo/{{searchVal}}"><span class="glyphicon glyphicon-search"></span></a>
            </div>
            <div class="formLogReg col-md-5">
                @Html.Partial("_LoginPartial")
            </div>
        </div>                 

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - You Tube</p>
        </footer>
    </div>
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>