﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class= "navbar-form" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Edit", "Manage", routeValues: null, htmlAttributes: new {@class= "btn btn-default" })
        </li>
        <li>@Html.ActionLink("Upload Video", "Create", "Videos", routeValues:null, htmlAttributes: new { @class="btn btn-default", role="button"})</li>
        <li><a class="btn btn-default" ng-href="#CreatePlaylist" role="button">Create Playlist</a></li>
        <li><a class="btn btn-default" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn-default btn" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default" })</li>
    </ul>
}
