﻿@model YouTubeWithAuth.Models.EditProfileViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container">
    @using (Html.BeginForm("Edit", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Change your account settings</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.FirstName, new { @class = "form-control input-md" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.LastName, new { @class = "form-control input-md" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.UserName, new { @class = "form-control input-md" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.ActionLink("Change your password", "ChangePassword")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.Email, new { @class = "form-control input-md" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.PhoneNumber, new { @class = "form-control input-md" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Location, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.Location, new { @class = "form-control input-md" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AvatarURL, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                <input type="file" name="picture" />
            </div>
            @if (Model.AvatarURL.IsEmpty())
            {
                @Html.Display("Picture didnt uploaded");
            }
            else
            {
                <img src=@Url.Content(Model.AvatarURL) alt="Profile picture" style="width:100px; height:100px; ">
            }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Save" />
            </div>
        </div>

    }
</div>






@*<dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>*@
</div>
